/* PJT作成画面ｃｓｓ */

/* ↓↓↓↓ 見出し ↓↓↓↓ */
h3 {
    position: relative;
    padding: 0.25em 0;
}
h3:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(90, 179, 230), transparent);
    background: linear-gradient(to right, rgb(90, 179, 230), transparent);
}
/* ↑↑↑↑ 見出し ↑↑↑↑ */

.card{
    background-color:rgba(255, 255, 255, 0.5); 
    background: linear-gradient(to bottom, rgba(230, 242, 255, 0.5), rgba(255, 255, 255, 0));
}


/* ↓↓↓↓ プロジェクト作成ボタン ↓↓↓↓ */
.btn-circle-3d {
    display: inline-block;
    text-decoration: none;
    background: royalblue;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #6b65bd;
    transition: .4s;
    text-decoration: none !important;
}
  
.btn-circle-3d:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}
/* ↑↑↑↑ プロジェクト作成ボタン ↑↑↑↑ */

#dialog {
    display:none;
}
#dialogBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.05;
}
#dialogContent {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #dddddd;
    text-align: center;
    border: solid 1px;
}
.chec{
    display: none;
    margin-right: -40px;
}
label{
    display: block; /* ブロックレベル要素化する */
}