/*----------------------------------
 デザイン画面cssメニュー

 1.サイドメニュー調整
 2.キャンバスの調整
 ---------------------------------*/


/*----------------------------------
 サイドメニュー調整
 ---------------------------------*/
 body {
    margin: 0;
    padding: 0;
}
#header {
    box-sizing: border-box;
    background: #ccc;
    height: 50px;
}
#main {
    box-sizing: border-box;
    margin-left: 220px;
    padding: 20px 40px;
}
#sub {
    box-sizing: border-box;
    top: 55px;
    height: 100%;
    width: 220px;
    position: fixed;
    overflow: auto;
    background: #eee;
    padding: 20px;
  
}
#sub2 {
    box-sizing: border-box;
    top: 55px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: #eee;
    padding: 20px;
}
label{
    background-color: rebeccapurple;
    width: 100%;
}



/*----------------------------------
 キャンバスの調整
 ---------------------------------*/


.col-lg-2{
    padding: 0;
}
.container{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
}
body{
    overflow: hidden;
}
.container div div{
    width: 1300px;
    height: 850px;
    /*width: 433px;
    height: 283px;*/
    position: absolute;
    z-index: 1;
}
.screens div:nth-child(1){
    background-color:red; 
    top: 85px;
    left: 200px;
}

.screens div:nth-child(2){
    background-color: blue;
    top: 900px;
    left: 2000px;
    
}

.screens{
    position: absolute;
    background-color: palegreen;
    top: 0;
    left: 0;
}
.screens div:nth-child(3){
    background-color: yellow;
    top: 1200px;
    left: -1200px;
}

.obj{
    position: absolute;
}

.conecter {
    position : absolute;
    left: 0px;
    top: 0px;
    width: 550px;
    height: 550px;
}

.kaiten {
    transform: rotateX( 180deg );
}